*.o
*.exe
/hashpipe
.claude/

# make deps
/bcrypt-master
/deps
/gosthash
/mutils
/openssl
Judy.h
libcrypto.a
libJudy.a
libmhash.a
librhash.a
libsph.a
libssl.a
md6.a
md6.h
mhash.h
rhash.h
rhash_torrent.h
sph_blake.h
sph_bmw.h
sph_cubehash.h
sph_echo.h
sph_fugue.h
sph_groestl.h
sph_hamsi.h
sph_haval.h
sph_jh.h
sph_keccak.h
sph_luffa.h
sph_md2.h
sph_md4.h
sph_md5.h
sph_panama.h
sph_radiogatun.h
sph_ripemd.h
sph_sha0.h
sph_sha1.h
sph_sha2.h
sph_sha3.h
sph_shabal.h
sph_shavite.h
sph_simd.h
sph_skein.h
sph_tiger.h
sph_types.h
sph_whirlpool.h
